img{
    height: 50px;
    width: auto;
}
nav{
    display: flex;
}
html{
    position: relative;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 1.2em;
    color: #333;
}
main{
    position: absolute;
    top: 0;
    margin-left: 20%;
    width: 70%;
}
li{
    list-style: none;
}
h3{
    font-size: 1.8em;
}

.filters{
    width: 15%;
}
.product{
    margin-bottom: 10%;    
    padding: 10%;
    color: #fff;
    background: #757575;
}
.product-img{
    height: auto;
    width: 80%;
    margin-left: 1em;
}
.product-field{
    width: 50%;
}
#left-fixed{
    position: absolute;
    width: 20%;
}
.search-field{
    display: inline;
}
#search-btn{
    display: inline-block;
    background: #757575;
    color: #fff;
    border-radius: 7px;
    margin: 0;
    padding: 0.2em 0.7em;
}
#search-btn:hover{
    background: #333;
}
.sml-btn{
    background: #757575;
    color: #fff;
    border-radius: 7px;
    width: 10em;
    padding: 0.2em 0.7em;
}
.sml-btn:hover{
    background: #333;
}
#btn-plcmnt{
    margin: 0;
    padding: 0;
    display: flex;
}
#page-no-1, #page-no-2, #page-no-3, #page-no-4, #prv-page-go, #next-page-go{
    background: #757575;
    color: #fff;
    font-size: 1em;
    border-radius: 7px;
    width: 15em;
    padding: 0.4em 1.4em;
}
#page-no-1:hover, #page-no-2:hover, #page-no-3:hover, #page-no-4:hover, #prv-page-go:hover, #next-page-go:hover{
    background: #333;
    color: #fff;
}
.product-selection-btn{
    background: #fff;
    color: #333;
    border-radius: 7px;
    width: 15em;
    padding: 0.2em 0.7em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    
}
.product-selection-btn:hover{
    background: #333;
    color: #fff;
}
article{
    border-radius: 1em;
}
fieldset{
    margin-top: 1em;
    background: #757575;
    color: #fff;
    border-radius: 1em;
}
legend{
    border: 0.2em solid #757575;
    border-radius: 1em;
    background: #757575;
    color: #fff;
    padding: 0.1em 0.7em;
}
/*Hamburger Menu Code Starts Here*/
#hamburger_menu{
	background: #757575;
	color: #fff;
	padding: 0.4em 0.8em;
	border-radius: 7px;
	size: 1em;
}
#hamburger_menu span{
	font-size: 2.5em;
}
#nav-bar-area{
    background: #757575;
    color: #fff;
    width: 15%;
    border-radius: 7px;
    font-size: 1.05em;
}
#nav-bar-area a:link, a:visited{
    color: #fff;
}

/*Ends Here*/


.default_select_option{
    display: none;
}